<%- if policy(event).can_see? %>
  <div class="container">
    <%= form_with(model: event, local: true) do |form| %>
      <% if event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, id: :event_name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :description %>
        <%= form.text_field :description, id: :event_description, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :place %>
        <%= form.text_field :place, id: :event_place, class: 'form-control' %>
      </div>

      <div class="field date-field">
        <%= form.label :event_datetime %>
        <%= form.datetime_select :event_datetime, id: :event_event_datetime, html: { class: 'form-control' } %>
      </div>

      <div class="field">
        <%= form.label :capacity %>
        <%= form.number_field :capacity, id: :event_capacity, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :seats_taken %>
        <%= form.number_field :seats_taken, id: :event_seats_taken, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit "Save", class: 'btn btn-success' if policy(event).can_see? %>
      </div>
    <% end %>
  </div>
<%- else %>
<div class="text-center alert alert-error"> YOU ARE NOT ALLOWED TO PERFORM THIS ACTION</div>
<% end %>