<!DOCTYPE html>
<head>
  <title>Tickets</title>
  <meta name="author" content="Neuville11">
  <%= wicked_pdf_stylesheet_link_tag 'tickets'%>
</head>
<body>
  <p>
    <strong>Event:</strong>
    <%= @event.name %>
    <br/>
    <strong>Description:</strong>
    <%= @event.description %>
    <br/>
    <strong>Place:</strong>
    <%= @event.place %>
    <br/>
    <strong>Event datetime:</strong>
    <%= datetime_format(@event.event_datetime) %>
  </p>

  <% if @tickets %>
    <% @tickets.each do |ticket| %>
      <div class="card qr-code">
          <%= ticket.qr_code&.html_safe || 'Genetating QR code' %>
        <div class="card-block">
          <h4 class="card-title"><%= ticket.code %></h4>
          <strong>Event:</strong>
          <%= @event.name %>
          <br/>
          <strong>Description:</strong>
          <%= @event.description %>
          <br/>
          <strong>Place:</strong>
          <%= @event.place %>
          <br/>
          <strong>Event datetime:</strong>
          <br/>
          <%= datetime_format(@event.event_datetime) %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Tickets are being generated, wait a momment and refresh this page</p>
  <% end %>
</body>
</html>