<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Tickets</h1>
  <%= paginate @tickets %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Event</th>
        <th>Code</th>
        <th>Ticket url</th>
        <th>Seat number</th>
        <th colspan="3">Options</th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= Event.find(ticket.event_id).name %></td>
          <td><%= ticket.code %></td>
          <td><%= ticket.ticket_url %></td>
          <td><%= ticket.seat_number || 'not assigned' %></td>
          <td><%= link_to 'Show', ticket_url(ticket.code) %></td>
          <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
          <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @tickets %>

  <br>

  <%= link_to 'New Ticket', new_ticket_path, class: 'btn btn-success' %>
</div>
