<p id="notice"><%= notice %></p>
<div class="container">
  <p>
    <strong>Event:</strong>
    <%= @event.name %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= @event.place %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= datetime_format(@event.event_datetime) %>
  </p>

  <p>
    <strong>Ticket url:</strong>
    <%= @ticket.ticket_url %>
  </p>

  <p>
    <strong>Seat number:</strong>
    <%= 'not assigned' if (@ticket.seat_number || '') %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @ticket.status || 'pending' %>
  </p>

  <div>
    <%= link_to 'Edit', edit_ticket_path(@ticket.code), class: 'btn btn-success' %> |
    <%= link_to 'Back', tickets_path, class: 'btn btn-primary' %>
  </div>

  <p><strong>QR code:</strong></p>

  <div class="qr-code">
    <%= @ticket.qr_code.html_safe %>
    <%= @ticket.code %>
  </div>
</div>
